language: go
sudo: false
go:
- 1.11.x
env:
- GO111MODULE=on
install: true
script:
- go test ./... -coverprofile=coverage.out -covermode=atomic
after_success:
- bash <(curl -s https://codecov.io/bash)
notifications:
  slack:
    secure: gYofLFnTF9LcrsE+NE3FFa6XnSM5cQY9jmgCvoqQbFREotNg47YnekGfq9EFBcqYhcZ7r9bqhJdWWmca2B5TsQ9Yoyp46QbCudDvyieMEwljPDt30CjgJ8XDEZUZsAGp2ELbpE4Gh0DxW1fSKXq//cjWaetHBwN9vqYcW5XECfhKTEo74FMyTq07nQmdBoBMSpzd3ZridXpVaJx6EPNgr2Rf3KdXod+PXvBYyMLCqHknrBg0nxMOA+JMKLGlkI+wTDr2Z6KFdbnsniq5HQ6yHoxROOcPmgDCxjAVwvmZXlQpKvF/Um+3Wy3YbzqW9eU+raT5cC4QD9fbnVIZQzgIXdeH7sc0xrWX1roCkaUCcy8oDI02e6kKEv19qYmcZBG5ZOA5RCMKp/ROyiPiEjX2pI7NZbpP3uha9kNQVneasNa4zCRJKM5DEkTshp1Sr8kQo6+fnqwCSr/fFIax+/K5ggIEf2UiV4qmHkv7dubvIP1LhFWJcd95CJeSIw8FNu/G8KQPq5U/Eqb6VjcuJNQZj2UxuWghlmlklSWWP6cqLugZDjTvagsnkNQKi4ClCSDqyJ88+wWqz3iDaqk4PbP66zCQJxTn5e3RoExD1pc93YOHvcaKxsU9Bb7TTJv0QJjlhZ4vrMNHAkzO+3/r/u+pU3QEhRxrYf59kpiZweQIEo4=
services:
- redis-server
